/*
Colours used:
Primary Colour (dark grey): #292929;
Secondary Colour (grey): #545454;
Accent Colour  (beige): #BFB6AE;
Accent Colour 2 (light grey): #D9D9D9;
Text Colour (dark grey): #292929;
Background Colour (white): #FDFDFD;
*/

header {
    background-color: #BFB6AE;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-shadow: 5px 5px 37px rgba(0, 0, 0, 0.2)  ; 
    position: fixed
}


main {
    padding-top: 164px;
  }


  * {
    box-sizing: border-box;
  }

  
body {
    background-color: #FDFDFD;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    font-weight: 400; 
    line-height: 1.6; 
    color: #292929; /* Font colour */
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.55em;
  font-weight: 700; /* Bold */
  
}

h2 {
  font-size: 2.25em;
  font-weight: 600; /* SemiBold */
}

h3 {
  font-size: 1.75em;
  font-weight: 600; /* SemiBold */
}
h4 {
  font-size: 1.35em;
  font-weight: 500; /* Medium */
}

img {
    width: 100%;
  }

  
  /* Hyperlinks */

  a {
    color: #292929;
    text-decoration: none; /* No underlining */
  }
  a:hover,
  a:focus  {
    opacity: 0.8;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  a:visited { /* visited link */
    color: #292929;
  }
  a:active { /* selected link */
    color: #545454;
  }


  /* Primary buttons */

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #292929;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 3px;
    border-bottom: 2px solid #1f1f1f; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
 
  .button:hover,
  .button:focus {
    opacity: 0.8; 
    text-decoration: none;
  }

  .button:visited { 
    color: #ffffff;
}


/* Secondary button */

  .button.contact {
    background-color: transparent;
    color: #292929;
    text-transform: uppercase;
    border: 2px solid #292929;

    
  }

  .button.contact:hover {
  background-color: #545454;
  color: #ffffff;
  border: 2px solid #545454;
  
}



/* Layout styling */

.container {
    padding: 0 15px;
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  } 

  
  #work .row { 
    padding-bottom: 25px; 
    border-bottom: 1px 
    solid #4a4a4a; 
  }

  #skills .row { 
    padding-bottom: 25px; 
    border-bottom: 1px 
    solid #4a4a4a; 
  }

  #hero h1, h2 {
    text-align: center; /* Centers text */
  }

  #hero p {
    text-align: center; /* Centers text */
  }

  #main h1, h2 {
    text-align: center; /* Centers text */
  }

  .img-about { 
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {  /* Logo size */
    max-width: 250px;
  }


  nav > ul {    /* Removes bullet points*/
    list-style-type: none;
    padding: 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #4a4a4a;
  }


  #hero {
    background-color: #BFB6AE;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }

  #skills h3 { margin-top: 0;}

  footer {
    text-align: center;
  }

  .social-links {
    width: 50px;
    padding: 2px;
  }




/* ==============================
Screen sizes
================================= */

/*Medium devices (640px and larger)*/
@media only screen and (min-width: 640px) {
    
    header {
        text-align: unset;
        padding: 20px 0 13px;
      }

    nav {
        width: auto;
        float: right;
        margin-top: 14px;
      }  

    main {
        padding-top: 116px;
      } 
    /*
    body {
        font-size: 18px;
      } */

      .col-md-6 {
        width: 50%;
      }

      [class*="col-"] {
        float: left;
        padding: 10px
      }  

      
}

/* Large devices (1024px or larger)*/
@media only screen and (min-width: 1024px) {

    .col-lg-7 {
        width: 60%;
        
      }

    .col-lg-5 {
        width: 40%;
    
      }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }

}

/* X-large devices (1440px or larger) */
@media only screen and (min-width: 1440px) {
}





/*Animation*/

.animation {
    width: 100%;
    max-width: 100%;
    height: auto;
  }


  @keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
  }

 .sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }
 
  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }


  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .cloud-back { /*Short way to anminate*/
    animation: 34s cloud-move-reverse infinite alternate linear;
  }