/*
Colours used:
Primary Colour (dark grey): #292929;
Secondary Colour (grey): #545454;
Accent Colour  (beige): #BFB6AE;
Accent Colour 2 (light grey): #D9D9D9;
Text Colour (dark grey): #292929;
Background Colour (white): #FDFDFD;
*/


body {
    background-color: #FDFDFD;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; 
    font-weight: 400; 
    line-height: 1.6; 
    color: #292929; /* Font colour */
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700; /* Bold */
}

h2 {
  font-size: 2.25em;
  font-weight: 600; /* SemiBold */
}

h3 {
  font-size: 1.75em;
  font-weight: 600; /* SemiBold */
}
h4 {
  font-size: 1.35em;
  font-weight: 500; /* Medium */
}

img {
    width: 100%;
  }

  

  /* Hyperlinks */

  a {
    color: #292929;
    text-decoration: none; /* No underlining */
  }
  a:hover,
  a:focus  {
    opacity: 0.8;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  a:visited { /* visited link */
    color: #292929;
  }
  a:active { /* selected link */
    color: #545454;
  }


  /* Primary buttons */

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #292929;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 3px;
    border-bottom: 2px solid #1f1f1f; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
 
  .button:hover,
  .button:focus {
    opacity: 0.8; 
    text-decoration: none;
  }

  .button:visited { 
    color: #ffffff;
}


/* Secondary button */

  .button.contact {
    background-color: transparent;
    color: #292929;
    text-transform: uppercase;
    border: 2px solid #292929;
  }

  .button.contact:hover {
  background-color: #545454;
  color: #ffffff;
  border: 2px solid #545454;
}